<div class="row whatStatHeader">
    <div class="col-md-4 col-sm-6 col-xs-0"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="imgHolder"><img src="./images/whatstat_logo.png" alt="whatstat logo"></div>
    </div>
</div>