<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

<div id="landingPage">
    <div>
        <div class="col-md-4 col-sm-6 col-xs-0"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="imgHolder"><img src="./images/whatstat_logo.png" alt="whatstat logo"></div>
        </div>
    </div>
  <div class="container">

    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span> Node Authentication</h1>

      <p>Login or Register with:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

  </div>
</div>



<% include ./partials/footer %>

</body>
</html>